
:global(.legacy-interface) .absolutePosition
{
    position: absolute;
    top: 40rem;
    left: 5rem;
}

.absolutePosition
{
    position: absolute;
    top: calc(var(--toolbarToggleButtonSize) - 5rem);
}

:global(.legacy-interface) .overrideHeight {
    height: 70rem !important;
}

.smallSize 
{
    font-size: 10rem !important;
    text-align: left;
    text-overflow: clip;
    text-transform: none !important;
    width:  55rem ;
    height: 17rem;
    padding-top:  var(--gap2) ;
    padding-right:  var(--gap2) ;
    padding-bottom:  var(--gap2) ;
    padding-left:  var(--gap2) ;
    background-color:  var(--accentColorNormal) ;
    border-top-left-radius:  var(--floatingToggleBorderRadius) ;
    border-top-right-radius:  var(--floatingToggleBorderRadius) ;
    border-bottom-left-radius:  var(--floatingToggleBorderRadius) ;
    border-bottom-right-radius:  var(--floatingToggleBorderRadius) ;
    margin-bottom: 0rem !important;
    margin-right: 0rem !important;
}

.bottomRightMargins
{
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.overrideBackGroundColor 
{
    background-color: var(--toolbarButtonColor)!important; 
    
    &:hover {
        background-color: var(--toolbarButtonColor-hover)!important; 
    }

    &:active {
        background-color: var(--toolbarButtonColor-pressed)!important; 
    }

    &.selected {
        background-color: var(--commonCyan) !important; 
    }
}