.panel {
    position: absolute;
    align-items: center;     
    width: 60rem;
}

.panelSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    width: 59rem;
    height: 35rem;
}

.row {
    padding: 10rem 20rem;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.inactive {
    width: 0rem;
    height: 0rem;
}