.panel {
    width: 60rem;
}

.panelSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    width: 60rem;
    height: 35rem;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none;
}